html,
body {
  margin: 0%;
  box-sizing: border-box;
}

/*----------------navigation menu-----------*/
.navbar {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  size: 20px;
  height: 60px;
  margin: 0px;
}
.logo {
  float: left;
  font-size: 20px;
  display: block;
  padding-top: 20px;
  padding-left: 20px;
}
.search {
  float: right;
  margin-left: 10px;
}
.info {
  float: right;
  color: white;
  padding-right: 10px;
  padding-top: 20px;
  font-size: 20px;
  margin-bottom: 0px;
}
.info a {
  text-decoration: none;
  color: white;
  padding-left: 10px;
}

.areas {
  margin-left: 10px;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 20px;
}
.search:hover {
  color: yellowgreen;
  cursor: pointer;
}

.areas option {
  background-color: black;
  color: white;
}

.navbar a:hover {
  color: chartreuse;
}
/*-------------navmenu exit--------------*/

/*-------------middle section--------------*/
.middle-part {
  background-image: url("../images/13296.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  margin-top: 0px;
}

.middle-part .middle-text {
  size: 50px;
  padding-top: 100px;
  text-align: center;
}

.signup {
  border: none;
  border-radius: 50px;
  padding: 15px 40px;
  font-size: 25px;
  cursor: pointer;
  margin: 20px 20px;
}
.login {
  border: none;
  border-radius: 50px;
  padding: 15px 40px;
  font-size: 25px;
  cursor: pointer;
  margin: 20px 20px;
}
.signup:hover {
  background: black;
  color: white;
}
button a {
  text-decoration: none;
}
.login:hover {
  background: black;
  color: white;
}

.middle-text p {
  font-size: 40px;
  text-align: center;
  margin-bottom: 0px;
}


/*-------------middle sectiom exit--------------*/

/*-------------footer begins--------------*/

.footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 45px;
  background: grey;
  text-align: center;
  color: white;
}
/*-------------footer exit-------------- */
